{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.kotoba-lang/jp-go-digital-design-system
        {:git/url "https://github.com/kotoba-lang/jp-go-digital-design-system.git"
         :git/sha "dc4602dc17bce8f6e9ba038e92b3e95fcc411b49"}}
 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.132"}
                               thheller/shadow-cljs {:mvn/version "2.28.20"}
                               reagent/reagent {:mvn/version "1.2.0"}}}}}
